.CourseAdd {
	width: 100%;
	height: 30px;
	background-color: #333333;
	border: 1px solid grey;
}

.plus-icon {
	float: right;
	width: 20px;
	height: 20px;
}

text {
	float:right;
	margin-right: 10px;
}

